.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 15px 15px;
  position: relative;

  span {
    &:first-child {
      font-weight: bold;
    }
    &:last-child{
      right: 0;
      bottom: 20%;
      position: absolute;
    }
  }
}