@import "../variables";
@import "../responsive";

.menu-container {
  width: 250px;
  border-right: 2px solid $soft-bg;
  position: relative;
  transition: transform 0.9s ease-in-out;

  @include lg{
    width: max-content;
  }

  @include md {
    position: absolute;
    top: 64px;
    height: 100vh;
    z-index: 1000;
    background-color: $primary;
  }

  &.expand {
    @include md{
      transform: translateX(0px);
    }
  }

  &.collapse {
    @include md{
      transform: translateX(-250px);
    }
  }
}

.menu {
  padding: 5px 20px;
  background-color: $primary;

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      .listItemTitle{
      }

      &:hover {
        background-color: $soft-bg;
      }
    }

    .selected {
      background-color: $soft-bg;
    }
  }
}