@import "../variables";
@import "../responsive";

.menu-container {
  width: 250px;
  border-right: 2px solid $soft-bg;
  position: relative;
  transition: transform 0.2s ease-in-out;

  @include lg{
    width: max-content;
  }

  @include md {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    overflow-y: auto;
  }

  &.expand {
    @include md{
      transform: translateX(0px);
      width: fit-content;
    }
  }

  &.collapse {
    @include md{
      transform: translateX(-100vw);
    }
  }
}

.menu {
  padding: 5px 20px;
  background-color: $primary;
  width: 100%;
  height: 100%;

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;
    }

    .listItem {
      display: flex;
      align-items: end;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      .listItemTitle{
      }

      &:hover {
        background-color: $soft-bg;
      }
    }

    .selected {
      background-color: $soft-bg;
    }

    .menu-icon{
      height: 20px;

      svg{
        height: 100%;
        width: 100%;
      }
    }
  }
}