@use "../responsive";

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 10px black;
  z-index: 3;

  .logo-box{
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;

    .logo{
      width: 20px;
      height: 20px;
    }

    @include md{
      display: none;
    }
  }

  p{
    color: $max-soft;
  }

  .hamburger{
    display: none;

    @include md{
      display: flex;
      cursor: pointer;
    }
  }

  .icons{
    display: flex;
    align-items: center;
    gap: 20px;

    .icon{
      cursor: pointer;

      &:hover{
        background-color: $light-bg;
        border-radius: 50%;
        outline: 8px solid $light-bg;
      }
    }
  }
}