@import "../../variables";

.modal{
  padding: 50px;
  border-radius: 10px;
  background-color: $dark-bg;
  position: relative;
  overflow: auto;
  max-height: 80%;
  max-width: 80%;
  z-index: 999;

  h1{
    margin-bottom: 30px;
    font-size: 28px;
    font-variant: all-petite-caps;
    color: $soft-color;
  }

  .error{
    font-size: 14px;
    padding-bottom: 20px;
    color: $soft-color;
  }

  .close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    .close-icon{
      &:hover{
        background-color: $max-soft;
        border-radius: 50%;
      }
    }
  }

  .MuiAutocomplete-listbox{
    font-size: 14px;
  }

  .MuiAutocomplete-input{
    color: $soft-color;
  }

  .MuiSvgIcon-root{
    color:$soft-color;
  }

  .fields{
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    justify-content: space-between;
    padding-bottom: 10px;

    .field{
      padding: 10px;

      .text-field{
        width: 200px;
        color: $ultra-soft;

          input{
          color: $soft-color;
        }

        fieldset{
          &:hover{
            border-color: $ultra-soft !important;
          }
        }
      }
    }
  }

  .modalFooter{
    height: 30px;
    position: relative;
    margin-left: -50px;
    margin-right: -50px;
    padding-top: 20px;
  }

  .submit{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $dark-bg;
    box-shadow: 1px 1px 6px black;

    &:hover{
      background-color: $soft-bg;
    }
  }
}