.form-page{
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  height: 100%;

  @include md{
    flex-direction: column;
  }

  .form-page-title{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $soft-color;
    font-size: 28px;
    font-variant: all-petite-caps;
    flex-direction: column;

    @include md{
      height: fit-content;
      flex: none;
    }

    p{
      color: $ultra-soft;
      font-size: 10px;
      font-variant: none;
    }
  }
}

.form{
  width: 500px;
  background-color: $soft-bg;
  border-radius: 10px;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;

  @include sm{
    width: 100%;
  }

  .form-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 0.5px solid $max-soft;
    padding-bottom: 15px;
  }

  .form-fields{
    padding: 15px;
    flex: 1;

    h4{
      font-weight: normal;
      color: $soft-color;
    }

    p{
      color: $ultra-soft;
      font-size: 10px;
      padding-bottom: 10px;
    }

    .fields-container {
      display: flex;
      align-items: center;

      .fields-item {
        display: flex;
        align-items: end;
        justify-content: space-between;
        border: 0.5px solid $max-soft;
        padding: 10px;
        height: fit-content;
        flex: 1;
        flex-wrap: wrap;

        .fields-item-text {
          padding: 0;
          height: fit-content;
          width: 120px;
        }

        .fields-item-checkbox{
          width: 120px;
          margin-top: 10px;
        }

        .form-field {
          width: 150px;
        }
      }

      .close {
        cursor: pointer;

        .close-icon {
          border-radius: 50%;

          &:hover {
            background-color: $max-soft;
          }
        }
      }
    }

    .add-field-button{
      padding: 7px;
      cursor: pointer;
    }
  }

  .form-field{
    display: flex;
    padding: 10px;
    height: 90px;
    flex-direction: column;
    justify-content: end;
    position: relative;
    width: 200px;

    @include sm{
      height: 70px;
    }

    .error-text{
      font-size: 12px;
      color: red;
      padding-bottom: 5px;
      position: absolute;
      margin-right: -50px;
      bottom: -10px;
    }

    span{
      display: flex;
      align-items: center;

      label{
        font-size: 14px;
        width: 100%;
      }
    }
  }

  .submit{
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $soft-bg;
    color: $soft-color;
    border: none;
    box-shadow: 1px 1px 6px black;

    &:hover{
      background-color: $dark-bg;
    }
  }
}

.select-container{
  width: 120px;
  margin-top: 10px;

  .select-label-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;

    .select-label {
      color: $soft-color;
      font-size: 12px;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      transition: all 0.2s ease;
      background-color: $soft-bg;
      padding: 0 4px;
    }
  }

  .select-field{
    position: relative;
    display: inline-block;
    width: 100%;
    align-items: end;


    &::after{
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $soft-color;
      pointer-events: none;
      transform: translateY(-50%);
    }

    .select{
      width: 100%;
      padding: 10px 40px 10px 10px;
      border: 1px solid $max-soft;
      border-radius: 4px;
      appearance: none;
      font-size: 16px;
      color: $soft-color;
      font-weight: lighter;
      cursor: pointer;
      background-color: transparent;

      &:hover{
        outline: none;
        border-color: $soft-color;
        box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
      }
    }
  }
}

.checkbox-field{
  display: flex;
  justify-content: space-between;
  border: 0.5px solid $max-soft;
  padding: 10px;
  border-radius: 5px;
  height: 40px;
  align-items: center;

  &:hover{
    input{
      outline: 0.5px solid $soft-color;
    }
  }

  input{
    height: fit-content;
    cursor: pointer;
  }

  .checkbox-label-container{
    display: flex;
    align-items: center;

    .form-label{
      color: $soft-color;
      font-weight: lighter;
      padding-right: 5px;
      font-size: 14px;
    }
  }
}