@import "../variables";

.home {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(260px, auto);

  .box{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid $soft-bg;
    background-color: $dark-bg;
  }

  .box1{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .box3{
    grid-row: span 2;
  }

  .box4{
    grid-column: span 2;
  }

  .green-color{
    color: limegreen;
  }

  .red-color{
    color: red;
  }
}