@import "../variables";
@import "../responsive";

.home {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(340px, auto);
  grid-auto-flow: dense;

  @include lg{
    grid-template-columns: repeat(2, 1fr);
  }

  @include md{
    grid-template-columns: repeat(1, 1fr);
  }

  .box{
    position: relative;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid $soft-bg;
    background-color: $dark-bg;
  }

  .box2{
    grid-row: span 2;
  }

  .box3{
    grid-row: span 2;
  }

  .box4{
    grid-column: span 1;

    @include md{
      grid-column: span 1;
    }
  }

  .box4 {
    grid-column: span 1;
  }

  .box-title{
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: $soft-color;
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
    //font-variant: all-petite-caps;
  }

  hr{
    border: 0.5px solid $max-soft;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50px;
  }

  .box-content{
    padding-top: 50px;
    position: relative;

    .box-select{
      background-color: rgba(0,0,0,0);
      color: $ultra-soft;
      font-size: 12px;
      position: absolute;
      top: 45px;
      right: 10px;
      border-color: var(--max-soft-color);
      border-radius: 5px;
      padding: 2px;
      z-index: 3;

      &:hover{
        border-color: $soft-color;
        cursor: pointer;
      }
    }
  }

  .green-color{
    color: limegreen;
  }

  .red-color{
    color: red;
  }
}