@import "../variables";

.title-box{
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  *{
    margin: 10px;
  }

  .title{
    font-weight: bold;
  }
  
  .delete-icon{
    cursor: pointer;
  }

  .add-transaction-box{
    border: 0.5px solid $max-soft;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
    color: $soft-color;
    display: flex;
    align-items: center;
    border-radius: 5px;

    svg{
      margin: 0;
    }

    &:hover{
      background-color: $dark-bg;
    }
  }
}

.cellStyle {
  color: white;
}

.datagrid-header{
  background-color: $dark-bg;
  color: $ultra-soft;
  font-weight: bold;
}