@import "../variables";

.title-box{
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  *{
    margin: 10px;
  }

  .title{
    font-weight: bold;
  }
  
  .delete-icon{
    cursor: pointer;
  }
}

.cellStyle {
  color: white;
}

.datagrid-header{
  background-color: $dark-bg;
  color: $ultra-soft;
  font-weight: bold;
}