@import "pages/home";
@import "components/addTransaction";
@import "components/menu";
@import "components/footer";
@import "components/loadingOverlay";
@import "components/navbar";
@import "pages/instruments";
@import "components/alertBox";
@import "components/grid";
@import "components/settings";
@import "pages/addInstrument";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

html, body, #app{
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $primary;
  color: $main-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.container {
  display: flex;
  flex: 1;
  overflow: auto;
  position: relative;
}

.content-container {
  width: 100%;
  padding: 5px 20px;
  overflow: auto;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.shake {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

::-webkit-scrollbar-track {
  background: $light-bg;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scrollbar-color: #888 $light-bg;
  scrollbar-width: thin;
}

.green-color{
  color: #00b386;
}

.red-color{
  color: red;
}