// BG
$main-bg: #101827;
$soft-bg: #1f2937;
$dark-bg: #1c2634;
$overlay-bg: rgba(0, 0, 0, 0.424);
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #101827;
$ultra-soft: rgba(228, 219, 233, 0.5);

:root {
  --main-bg: #{$main-bg};
  --soft-bg: #{$soft-bg};
  --dark-bg: #{dark-bg};
  --main-color: #{$main-color};
  --soft-color: #{$soft-color};
  --dark-color: #{$dark-color};
  --ultra-soft-color: #{$ultra-soft}
}